<br>
<h2 class="mb-4">List of articles!</h2>  <!# Wywod wsech zapisej!>
<p>
<%= link_to "New article", new_article_path,class: "button is-primary is-rounded" %>
<!%= link_to "New article", new_article_path, class: "button big gray bi bi-pencil-square"%>
</p>
<% @articles.each do |article| %>
     <article class="card mt-3">
     <div class="card-body">
  <h2>
  <%= article.title %>
  </h2>
  <p class="my-2">
  <%= image_tag article.avatar.url(:thumb), class: 'img-thumbnail thumb' if article.avatar? %>            
  </p>          
  <h4 class="my-2">
  <%= article.text %>
  </h4>
        <section class="card-text">
           <! Podkluchenie time pod soobzheniem!>
  <time datetime="<%= article.created_at.strftime("%Y-%m-%d %H:%M:%S")%>">
  <%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  </time>  
           </section>            
   <hr>
                     <!Ssylka na statью>
  <p><!%= link_to "New article", new_article_path(article),class: "btn btn-primary" %> 
     <%= link_to  "Show article", article_path(article),class: "button is-primary is-light"%>  
     <%= link_to  "Edit article", edit_article_path(article),class: "button is-success is-light"%> 
     <%= link_to 'Delete', article_path(article), data: {'turbo-method': :delete,'turbo-confirm': 
     'Are you sure?'}, class:"button is-danger is-light"%>
                    
                       <! rails routes>                         <!Eto JS window "Udalit post">
  
            
     </div>
   </article>
<% end %>
<br>
<br>
 