<br>
<h2 class="title is-4">List of articles!</h2>  

<div class="field has-addons">
  <div class="control">
    <div class="select is-fullwidth">
     
          <%= search_form_for @q do |f| %>
          <%= f.select :local_id_eq, @locals.map { |t| [t.title, t.id] }, required: false, class: "input is-info" %>
      
     <br>
     <div class="buttons are-small"> 
     <%= f.submit "Шукати!", class:"button is-primary "%>
    <% end %>
  </div>
   </div>
    </div>
    <%= link_to "Показати всi оголошення!",articles_path, class:"button is-danger is-inverted" %> <!Prawelnaja ssylka>
  <!/div>
</div>
    <%#= sort_link(@q, :local_title, default_order: :asc)%>
<br>
<br>    
<br>
<p>
<strong><%= link_to "Нове оголошення!", new_article_path,class: "button is-warning is-rounded"%></strong>
<!%= link_to "New article", new_article_path, class: "button big gray bi bi-pencil-square"%>
</p>

<br>
<br>
 <div class="columns is-multiline">
  <% @articles.each do |article| %>
  
   <div class="column is-one-third">
     <div class="card">
            <% if article.image.attached?%>
              <div class="card-image">
                <%= image_tag article.image, class: "card-img-top", style: "width: 360px; height: 240px;"%> 
              </div>
            <%end%>
            <div class="card-content">
             <div class="content">
                <h3 class="subtitle  is-3"> <%= article.title %></h3>
                <h4 class="my-2">
                <%= article.text %>
                </h4>
             </div>
            </div>
          <footer class="card-footer">
           <%= link_to  "Показати", article_path(article),class: "button is-primary is-light"%>  
           <%= link_to  "Редагувати", edit_article_path(article),class: "button is-success is-light"%> 
           <%= link_to 'Видалити', article_path(article), data: {'turbo-method': :delete,'turbo-confirm': 
             'Are you sure?'}, class:"button is-danger is-light"%>
          </footer>                 
     </div>
    </div>
  <% end %>
</div>


<br>
<br>
<%= pagy_bulma_nav(@pagy).html_safe %>  <!Pagy "gem pagy" razbiw na stranicy Podkluchenie>    
<br>
<br>
 