<br>
<!3 Wywodim bazu po ID>
<h3>Thanks You!</h3>
<h4>Article has been created!!!</h4>

 <p> Область: <%= @article.local.title%></p>
 
 <figure class="image is-48x48">
  <img src="https://bulma.io/images/placeholders/48x48.png">
  </figure>
 <h4><%= @article.title %></h4>
 
   <div class="card-image">
     <%= image_tag @article.image, style: "width: 380px; height: auto"%>
   <div>
 
 <p class="lead my-3"><%= @article.text %></p>
  
             
             <! Podkluchenie time pod soobzheniem!>
  <time datetime="<%= @article.created_at.strftime("%Y-%m-%d %H:%M:%S")%>">
  <%= @article.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  </time>  
<%= link_to ('Редагувати'), edit_article_path(@article),class: "button is-success is-light"%> 
<%= link_to ('Видалити'), article_path(@article), data: {'turbo-method': :delete,'turbo-confirm': 
     'Are you sure?'}, class:"button is-danger is-light"%>
<%= link_to "Показати всi оголошення!",articles_path, class:"button is-danger is-inverted" %> <!Prawelnaja ssylka>
<!/////////////////////////////////////////////////////////////////////////////////////////>
  <hr class="my-3">
<h4> Write youre Comment </h4>
  
                      <!Dobawil Comment>
 <%= form_with model: [@commentable, @comment] do |f| %>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :body %>
    </div>

    <div class="col-sm-10">                     <! Walidacija CSS ---required: true, minlength:2,>
      <%= f.text_area :body, class: 'textarea is-focused', required: true, minlength:2%>
    </div>
  </div>

 <br>
  <%= f.submit "Submit comment!", class: 'button is-primary is-rounded' %>
<% end %>
<!%end%>

<!/////////////////////////////////////////////////////////////////////////////////////>
<h4 class="mt-5">Comment!</h4>

<% @commentable.comments.each do |comment| %>
  <article class="mb-3 card" id="comment-<%= comment.id %>">
      <div class="card-body">
           <! Podkluchenie time pod soobzheniem!>
  <time datetime="<%= @article.created_at.strftime("%Y-%m-%d %H:%M:%S")%>">
  <%= @article.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  </time>  
         
         <section class="card-text">
                  <p>
                    <%= comment.body %>
                  </p>
         </section>
              
 
 <%= link_to  "Редагувати", edit_article_comment_path(@article,comment),class: "button is-success is-light"%> 
 <%= link_to 'Видалити', article_comment_path(@article, comment), class: 'button is-danger is-light',
      data: {method: :delete, confirm: "Are you sure?"} %>
   </div>
 </article>
<%end%>
<br>
<br>