<br>
<h2 class="mb-4">List of articles!</h2>  <!# Wywod wsech zapisej!>

<div class="field has-addons">
  <div class="control">
    <div class="select is-fullwidth">
     
          <%= search_form_for @q do |f| %>
          <%= f.select :local_id_eq, @locals.map { |t| [t.title, t.id] }, required: false , class:"input" %>
      
     <br>
     <div class="buttons are-small"> 
     <%= f.submit "Шукати!", class:"button is-primary"%>
    <% end %>
  </div>
   </div>
    </div>
    <%= link_to "Показати всi оголошення!", things_path, class:"button is-danger is-inverted" %> <!Prawelnaja ssylka>
  <!/div>
</div>
    <%#= sort_link(@q, :local_title, default_order: :asc)%>
<br>
<br>    
<br>
<p>
<strong><%= link_to "Нове оголошення!", new_thing_path,class: "button is-warning is-rounded"%></strong>
</p>
<br>
<br>
<div class="columns is-multiline">
  <% @things.each do |thing| %>
  
   <div class="column is-one-third">
     <div class="card">
            <% if thing.image.attached?%>
              <div class="card-image">
                <%= image_tag thing.image, class: "card-img-top", style: "width: 360px; height: 240px;"%> 
              </div>
            <%end%>
            <div class="card-content">
             <div class="content">
                <h3 class="subtitle  is-3"> <%= thing.title %></h3>
                <h4 class="my-2">
                <%= thing.text %>
                </h4>
             </div>
            </div>
          <footer class="card-footer">
           <%= link_to  "Показати", thing_path(thing),class: "button is-primary is-light"%>  
           <%= link_to  "Редагувати", edit_thing_path(thing),class: "button is-success is-light"%> 
           <%= link_to 'Видалити', thing_path(thing), data: {'turbo-method': :delete,'turbo-confirm': 
             'Are you sure?'}, class:"button is-danger is-light"%>
          </footer>                 
     </div>
    </div>
  <% end %>
</div>
<br>
<br>
<%= pagy_bulma_nav(@pagy).html_safe %>  <!Pagy "gem pagy" razbiw na stranicy Podkluchenie>    
<br>
<br>
 
 