<%= form_for :sense, url: senses_path, method: "sense" do |f|%>

<br>
<br>
<div class="field is-link">
  <p class="control has-icons-left">
    <span class="select">
         
    <%= select(:sense,:local_id, options_from_collection_for_select(@locals, "id","title", @sense.present? ? @sense.local_id : nil ), {}) %>
       
    </span>
    <span class="icon is-small is-left">
      <i class="fas fa-globe"></i>
    </span>
  </p>
</div>

<div class="mb-3 row">
<div class="col-sm-2 col-form-label">  
    <%= f.label :title %>
  </div>

<div class="col-sm-10">         
    <%= f.text_field :title, class: "input is-link" %>
  </div>
  </div>

<div class="mb-3 row">
<div class="col-sm-2 col-form-label">
    <%= f.label :text %>
  </div>

<div class="col-sm-10">     
    <%= f.text_area :text, class: "textarea is-focused" %>
  </div>
  </div>

<br>
<div class="col-sm-10">     
    <%= f.file_field :image, class: "button is-warning"%>
  </div>
<br>
  
  <%= submit_tag 'Submit article', class: "button is-primary is-rounded"%>
  <%= link_to "Show all articles!",senses_path, class:"button is-danger is-inverted" %> <!Prawelnaja ssylka>

<%end%>

<br>
<br>
